@keyframes fadein {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}



footer {
    visibility: hidden;
}

.st-emotion-cache-1cypcdb {
    background: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); box-shadow: 1px 0 10px -2px #000;

}
.st-emotion-cache-86cver {
    color: rgba(250, 250, 250, 0.6)
}

.st-emotion-cache-z5fcl4 {
    padding-top: 2rem;
}

