@keyframes slidein {
    0% {
      margin-left: -70%;
      margin-top: 70%;
      width: 300%;
    }
  
    100% {
      margin-left: 0%;
      margin-top: 0%;
      width: 100%;
    }
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
}

.st-emotion-cache-1h7cibc {
    width: 100%;
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 200px;
    text-align:center;
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    border: none;
    background-size: 200% 150%;
    background-image: url('https://raw.githubusercontent.com/nuwa-genomics/Nuwa/main/app/css/img/bg.png?raw=True');
    box-shadow: 0 4px 15px 0 #000;
    border-radius: 10px;
    moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}


.st-emotion-cache-1h7cibc:hover {
    
    background-position: 10% 0;
    moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;

    box-shadow: 3px 5px 20px #000;
    border: rgba(255,255,255,0.7) 1px solid;
    color: #fff;
}

.st-emotion-cache-1h7cibc:focus {
    border: rgba(255,255,255,0.8) 2px solid;
}

.block-container:not(.ef3psqc12) {
    padding-top: 1rem;
    text-align: center;
    max-width: 72rem;
    animation: slidein;
    animation-duration: 0.35s;
}

h1 {
    margin-bottom: 2rem;
}