.st-emotion-cache-19rxjzo, .st-emotion-cache-1ts31n5 {
    width: 240px;
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 200px;
    text-align:center;
    border: none;
    background-size: 200% 150%;

    background-image: url(https://github.githubassets.com/images/modules/dashboard/universe23/bg.png);
    box-shadow: 0 4px 15px 0 #000;

    border-radius: 10px;
    moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}


.st-emotion-cache-19rxjzo:hover, .st-emotion-cache-1ts31n5:hover {
    
    background-position: 10% 0;
    moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;

    box-shadow: 3px 5px 20px #000;
    border: rgba(255,255,255,0.7) 1px solid;
    color: #fff;
}

.st-emotion-cache-19rxjzo:focus, .st-emotion-cache-1ts31n5:focus {
    outline: none;
}

.block-container {
    padding-top: 1rem;
    text-align: center;
    max-width: 72rem;
}

h1 {
    margin-bottom: 2rem;
}




